/* MAIN */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  min-height: 100vh;
  width: 100%;
  background-image: url('../images/welcome-page-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.page {
  width: 85%;
  min-height: 90vh;
  background-color: rgba(255,255,255,.85);
  border-radius: 2em;
  margin: 50px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  font-size: 6em;
  letter-spacing: 0.05em;
  margin: 60px 0 0;
  font-weight: 400;
}


/* LOGIN VIEW */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 100px;
}

.login-input-container {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  font-size: 23px;
}

#password, #username {
  height: 20px;
  padding: 3px;
  font-size: 18px;
  margin: 5px;
}

#password {
  margin-left: 14px;
}

/* WELCOME VIEW */

h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  font-weight: 300;
  margin: 10px 0 0;
}

.main-btn-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.main-btn {
  width: 200px;
  height: 40px;
  margin: 30px 10px;
  border: none;
  border-radius: 1.25em;
  background-color: rgb(208, 222, 234);
  font-size: 1.2em;
  font-weight: 200;
}

.main-btn:hover, #search-btn:hover {
  background-color: rgb(179, 200, 218);
  border: 2px solid black;
  cursor: pointer;
}

/* MY BOOKINGS VIEW */

.my-bookings-view, .rooms-view, .confirmation-view, .cancellation-view, .search-view, .login-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-bookings-message, .no-rooms-message, .invalid-date-message, .cost-message {
  font-size: 23px;
  margin: 10px 0 0;
}

.my-bookings-container, .available-cards-container { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  gap: 20px;
  width: 95%;
  /* border: 2px solid black; */
  min-height: 20vh;
  margin-top: 10px;
  margin-bottom: 20px;
}

.booked-card, .available-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(179, 200, 218);
  border-radius: 1em;
  margin: 10px;
  opacity: 120%;
}

.booking-num {
 font-size: 20px;
}

/* SEARCH AVAILABLE VIEW */

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  width: 60%;
}

.date-label {
  font-size: 25px;
  margin: 40px 0 0;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 35%;
}

#date {
  background-color: lightgrey;
  padding: 5px;
  border-radius: 7px; 
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-top: 20px;
  width: 60%;
  height: 40px;
  font-size: 15px;
}

#search-btn {
  width: 50%;
  border: none;
  border-radius: 7px;
  background-color: rgb(179, 200, 218);
  font-size: 1.4em;
  font-weight: 400;
  margin-top: 20px;
}

#main-on-search {
  margin: 10%;
}

/* ROOMS BY DATE VIEW */

.filter-container {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 10px 0 0;
}

.filter-label {
  font-size: 23px;
  margin: 10px 5px;
  padding: 5px;
}

#filter-drop-down {
  font-size: 23px;
  margin: 10px;
  width: 30%;
  border-radius: 1em;
  padding: 5px;
}

#filter-drop-down:hover {
  cursor: pointer;
}

.details-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 15px;
}

h3 {
  margin: 20px 0 0;
  font-size: 20px;
}

.detail {
  margin: 0;
  font-size: 16px;
}

.book-btn, .cancel-btn {
  border: none;
  border-radius: 2em;
  margin: 0 0 20px;
  width: 60%;
  height: 30px;
  font-size: 17px;
}

.book-btn:hover, .cancel-btn:hover {
  border: none;
  border-radius: 2em;
  cursor: pointer;
  background-color: white;
  transform: scale(1.1);
}

.booking-message-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation-message, .cancellation-message {
  font-size: 23px;
}

/* OTHER */

.hidden {
  display: none;
}
